		body {
			min-height: 100%;
		    overflow:hidden;
			background-image: url("bg.jpg");
		}
		
		h1 {
			font-family: 'Lucida Bright';
			font-size: 30px;
			color: white;
			font-variant: normal;
			font-weight: bold;
			line-height: 38px;
		}
		
		
		
		
		#clock {
        	position: relative;
        	width: 375px;
        	height: 375px;
			top: 115px;
        	left: 75px;
        	background: url(images/clockface.gif);
			background-size: 100% 100%;
			background-repeat:no-repeat;
        	
        	}
        
        #sec, #min, #hour {
        	position: absolute;
        	width: 30px;
        	height: 600px;
        	top: 145px;
        	left: 255px;
			background-repeat:no-repeat;
        	}
        
        #sec {
        	background: url(images/sechand.png);
        	z-index: 3;
           	}
           
        #min {
        	background: url(images/minhand.png);
        	z-index: 2;
           	}
           
        #hour {
        	background: url(images/hourhand.png);
        	z-index: 1;
           	}
			
		#big_clock{
			background: url(background_clock.jpg);
			background-size: 100% 100%;
			background-repeat:no-repeat;
			position: absolute;
			width: 0%;
        	height: 0%;
			top: 0%;
        	left: 0%;
			z-index:10;
			-webkit-transition: width 1s, height 1s, margin 1s;
			-moz-transition: width 1s, height 1s, margin 1s;
			-ms-transition: width 1s, height 1s, margin 1s;
			transition: width 1s, height 1s, margin 1s;
		}
		
		#clock1 {
        	position: relative;
			width: 600px;
        	height: 600px;
        	margin: 20px auto 0 auto;
        	background: url(images/clockface.gif);
			background-size: 100% 100%;
			background-repeat:no-repeat;
			display:none;
        	
        	}
        
        #sec1, #min1, #hour1{
			position: absolute;
        	width: 30px;
        	height: 600px;
        	top: 0px;
        	left: 285px;
			background-repeat:no-repeat;
			display:none;
        	}
        
        #sec1 {
        	background: url(images/sechand.png);
        	z-index: 13;
           	}
           
        #min1 {
        	background: url(images/minhand.png);
        	z-index: 12;
           	}
           
        #hour1 {
        	background: url(images/hourhand.png);
        	z-index: 11;
           	}

